.redSquare {
	background-color: crimson;
	width: 300px;
	height: 300px;
}

.greenTriangleText {
	color: white;
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
	background-image: url(../img/genius.jpg);
	text-indent: 20px;
	padding: 10px;
	width: 200px;

	
}